@use "../../styles/variables.scss" as *;

.logo {
  height: 5rem;
}

.custom-navbar {
  background-color: $primary-blue;
  padding: 0 2rem;
}

.nav-link {
  &:hover {
    background-color: $secondary-blue;
    color: $white;
  }
}
